
nav{
    background-color: black;
    padding: 20px 0 ;
}

nav li{
    list-style-type: none;
    padding: 0 14px;
    color: white;
    

}

nav h5{
    margin: auto;
    font-size: larger;
}
nav input{
    background-color: black;
    border: 0.25px solid grey;
    border-radius: 1px;
}
nav input::placeholder{
    padding-left: 15px;
}
nav ul{
    margin: 0%;
} 

nav h5{
    color: white;
}

.nav-arrow-1{
    border: 2px solid grey;
    border-radius: 100%;
    color: grey;
    font-size:9px ;
    font-weight: 900;    
    padding: 3px;
    margin-left: 6px;  
}


.nav-arrow-2{
    font-size:x-small ;
    color: grey;
}
.live{
    border: 1px solid #f64137;
    font-size: .65em;
    padding: 0% 4px;
}
.live:hover{
    border: 1px solid #f64137;
    color: #ffffff;
    background-color: #f64137;
    font-size: .65em;
    padding: 0% 4px;
}

@media (max-width:1152px) {
    .nav-left{
        display: block !important;
    }

    .nav-right{
        display: block !important;
    }

    .nav-left-main{
        display: none !important;
    }

    .nav-right-main{
        display: none !important;
    }
}







.slider img{ 
    
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 80%;
    
}

.slider-img{
    
}

.slider{
    background-color: black !important ;

}